html, body {
    font-family: 'Google Sans', Arial, Helvetica, sans-serif;
}

.house {
    flex-basis: calc(50% - 20px);
    margin: 10px;
    cursor: pointer;
}

.house:hover {
    opacity: 0.6;
}

.house-picture {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.house-title {
    margin-top: 10px;
    /* font-weight: bold; */
}